[project]
name = "meta-edc"
dynamic = ["version"]
description = "META Trial EDC (http://www.isrctn.com/ISRCTN76157257)"
readme = "README.rst"
dependencies = [
    "edc==1.1.4",
    "beautifulsoup4",
    "celery[redis]",
    "django-pylabels",
]
requires-python = '>=3.12'
keywords = ["django", "clinicedc", "META EDC", "EDC", "clinical trials", "META Trial"]
authors = [{ name = "Erik van Widenfelt", email = "ew2789@gmail.com" }, { name = "Jonathan Willitts", email = "j.willitts@ucl.ac.uk" }]
classifiers = [
    "Environment :: Web Environment",
    "Framework :: Django",
    "Framework :: Django :: 5.2",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
]
license = { file = "LICENSE" }


[build-system]
requires = ["setuptools>=64", "setuptools_scm>=8"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
version_file = "_version.py"

[tool.black]
line-length = 95
target-version = ["py312"]
extend-exclude = '''^(.*\/)*\b(migrations)\b($|\/.*$)'''

[tool.isort]
profile = "black"
py_version = "312"
skip = [".tox", ".eggs", "migrations", "_version.py"]

[tool.coverage.run]
parallel = false
branch = true
source = ["meta_edc"]

[tool.coverage.paths]
source = ["meta_edc"]

[tool.coverage.report]
show_missing = true
skip_covered = true
omit = ["requirements.txt"]
exclude_lines = [
    "pragma: no cover",
    "if TYPE_CHECKING:",
]

[tool.tox]
legacy_tox_ini = """
[tox]
envlist =
    py{312,313}-dj{52}-edc{prod,dev},
    py{313}-dj{dev}-edc{dev},
    lint
    pre-commit

isolated_build = true

[gh-actions]
python =
    3.12: py312, lint, pre-commit
    3.13: py313

[gh-actions:env]
DJANGO =
    5.2: dj52, lint, pre-commit
    dev: djdev
EDC_CODEBASE =
    Prod: edcprod, lint, pre-commit
    Dev: edcdev

[testenv]
deps =
    -r https://raw.githubusercontent.com/clinicedc/edc/develop/requirements.tests/tox.txt
    -r https://raw.githubusercontent.com/clinicedc/edc/develop/requirements.tests/test_utils.txt
    dj52: Django>=5.2,<5.3
    djdev: https://github.com/django/django/tarball/main

commands =
    pip install -U pip
    python --version
    pip --version
    edcdev: pip install -U -r https://raw.githubusercontent.com/clinicedc/edc/develop/requirements.tests/edc.txt
    pip freeze
    coverage run -a runtests.py
    coverage report

[testenv:lint]
deps = -r https://raw.githubusercontent.com/clinicedc/edc/develop/requirements.tests/lint.txt
commands =
    python --version
    pip --version
    pip freeze
    isort --profile=black --check --diff .
    black --check --diff .
    flake8 .

[testenv:pre-commit]
deps = pre-commit
commands =
    python --version
    pip --version
    pip freeze
    pre-commit run --all-files
"""
