edc==0.1.30
git+https://github.com/erikvw/django-simple-history@admin_revert_permissions2
git+https://github.com/erikvw/django-multisite@master
git+https://github.com/erikvw/django-import-export@get_export_admin_action
beautifulsoup4
sarscov2==0.1.9
