<h1>Topic Guide for Withdrawals</h1>

<h3>1. Demographics: Age, gender, site</h3>
How long were you involved in the META trial?

<h3>2. Can you tell me about your overall experience in the META trial?</h3>
(If at least for 2-3 months, then ask the highlighted questions below)
<ul>What did you understand about the purpose of the META trial?
    <li>What motivated you to participate?
    <li>What aspects did you like or dislike?
</ul>

<h3>3. What factors influenced your decision to stop participating?</h3>

<h3>4. Have you been involved in a similar study before?</h3>
    <ul>
        <li>If yes, how did your experience in the META trial compare?</li>
    </ul>

<h3>5. Have you noticed any improvements in your health since joining the trial?</h3>
    <ul>
        <li>Were there any changes before leaving the trial? After leaving the trial</li>
    </ul>

<h3>6. Did participating in the trial lead to changes in your health behaviours?</h3>
#(If at least for 2-3 months, then ask the highlighted questions below)
<ul>
    <li>How did you feel about the lifestyle advice given (e.g., diet, physical activity)?</li>
    <li>Did you adapt the advice to suit your personal circumstances?</li>
    <li>What were your eating habits like before and during the trial? Did they change?</li>
    <li>Did you engage in any physical activity? If yes, can you describe it?</li>
    <li>Any other reasons why the trial might have changed your health behaviour?</li>
    <li>What were there barriers that prevented you from following the advice fully?</li>
</ul>

<h3>7. Did you experience side effects from the trial or medication? If yes, can you describe what these side effects were like?</h3>

<h3>8. How did you take the medication during the trial?</h3>
(If they have taken med 2-3 months, then ask the highlighted questions below)
    <ul>
        <li>How often did you take it? Was it easy to remember?</li>
        <li>Did it fit into your daily routine?</li>
        <li>What challenges, if any, made it difficult to take the medication?</li>
        <li>What kind of support would have helped with adherence?</li>
    </ul>

<h2>Did any of these challenges a factor in your decision?</h2>

<h3>1. If the intervention drug proves effective, would you be willing to continue using it?</h3>
    <ul>
        <li>For how long? What factors might prevent you from continuing?</li>
        <li>what would influence your willingness to use it in the future? Whats needed?</li>
    </ul>

    <h3>What improvements would you suggest for future trials like this?</h3>
    <ul>
        <li>What advice would you give to future participants?</li>
    </ul>

<h3>2. What do you think are the main barriers to accessing healthcare for people with prediabetes, especially related to social factors?</h3>

<h3>3. Would you recommend a trial like this to family or friends?</h3>
    <ul>
        <li>What would influence your decision to encourage or discourage them?</li>
    </ul>

<h3>4. Is there any other feedback you'd like to share (positive or negative)?</h3>
